body {
    position: relative;
    margin: 0;
    padding: 0;
    background: rgb(230, 230, 230);
    width: 100%;
    height: 100%;
    font-family: 'Montserrat Alternates', sans-serif;

}

.mainPage {
    position: relative;
    top: 480px;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;

    margin: 0 0 120px 0;
    padding: 0;
}

.centralSection {
    flex-basis: 55%;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;

}
.centralSection::after {
    content: "";
    background-image: url("../img/mainFon.png");
    background-size: 300px 300px;
    position: absolute;
    display: block;
    bottom: 0; /* ????*/
    right: 22.5%;
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
}
.leftSection {
    flex-basis: 20%;
    text-align: center;
}
.leftSection > ul {
    list-style: none;
}
.leftSectionNavigation {
    display: block;
    position: relative;
    top: 0;
    left: -130%;
    margin: 5px;
    width: 100%;
}
.leftSectionNavigation:after {
    display: table;
    content: attr(title);
    position: absolute;
    top: 10px;
    left: 100%;
    width: 150%;
    text-align: center;
    font-size: 1.2em;
}
.leftSectionNavigation.Special:after {
    display: none;
}
.leftSection > ul > li > a{
    text-decoration: none;
    color: inherit;
    font: bold normal 1.2em 'Montserrat Alternates', sans-serif;
    display: block;
    top: 0;
    right: -150px;
    background: rgb(20, 150, 190);
    background: linear-gradient(to right, rgb(230, 230, 230), rgb(20, 150, 190));
    border-radius: 20px;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
}
.leftSectionContacts {
    margin-top: 50%;
}
.rightSection {
    flex-basis: 20%;
    text-align: center;
    font-size: 1.2em;
}
.rightSection > img {
    width: 90%;
    padding: 10px;
    border-radius: 20px;
}
.rightSection > img:hover {
    border: 2px solid rgb(20, 150, 190);
    padding: 0;
    margin: 8px;
}
.mainFon {
    position: absolute;
    top: 0;
    left: 22.5%;
}
.mainFon > img {
    width: 200px;
}
.centralSectionPar {
    padding: 0 5% 0 8%;
    text-align: justify;
    line-height: 25px;
}

footer {
    position: relative;
    bottom: -400px;
    left: 0;
    height: 100px;
    background: rgb(170, 170, 170);
    width: 100%;
}

footer > ul {
    display: inline-block;
    list-style: none;
}
footer > ul > li > a {
    text-decoration: none;
    color: black;
}
footer > ul > li > a:hover {
    text-shadow: 0.5px 0.5px 1px black;
    transition: 0.2s;
}

.social {
    display: inline-block;
    float: right;
    padding: 18px;
}
.social > a > img:hover {
     height: 74px;
     width: 74px;
     margin: -5px;
 }
footer > .social::after {
    content: "Website was created by Andrey Kostyushko. All rights, lefts, middles are reserved";
    font-size: 0.5em;
    position: absolute;
    display: table;
    bottom: 0; /* ????*/
    right: 0;
    height: 10px;
    padding-bottom: 3px;
    padding-right: 3px;

}
#upButton {
    display: block;

    position: absolute;
    top: -65px;
    left: 20px;
    opacity: 0.3;
}
#upButton:hover {
    opacity: 1;
    transform: rotateY(180deg);
    transition: 1s;
}

@media (max-width: 1050px) {
    .leftSectionNavigation:after {
        font-size: 1.0em;
    }
    .mainFon > img {
        width: 100px;
    }

}
@media (max-width: 950px) {
    .leftSectionNavigation:after {
        font-size: 0.9em;
    }
    .mainFon > img {
        width: 0;
    }

}